#  I DID THIS BECAUSE I NEED TO GIVE THE ONE WHO REVIEWS ACCESS TO MY REPO, BUT THIS IS WRONG BECAUSE ALL THOSE KEYS ARE PRIVATE


# DATABASE_URL="postgresql://neondb_owner:oOpAG7qTHK1Q@ep-nameless-leaf-a56kcs8x.us-east-2.aws.neon.tech/neondb?sslmode=require"
# GITHUB_ID= "Iv23liNvn76vZg0XRGeT"
# GITHUB_SECRET="35edf371f54c4e5176dea1ee3f5edf3be1790240"
# GOOGLE_ID="435425927550-limeh1gpa6kf34mtsfj4d1k1i7dg9nlf.apps.googleusercontent.com"
# GOOGLE_SECRET="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"
# NEXTAUTH_SECRET="dsasfGX32hxhax"
# JWT_SECRET="6b1f90459e2c4dd18d77f3a25c7e9d86b2b55dcb4e9076ad7f1847f2a5b47b5d"